.register-card {
  animation: fadeIn 0.8s ease-in-out;
  background: rgba(0, 0, 0, 0.2); /* Darker glass effect */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h2 span {
  color: orange;
}

.inputs input {
  background: rgba(255, 255, 255, 0.2); /* More visible input fields */
  color: rgb(66, 60, 60);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.inputs input::placeholder {
  color: rgba(255, 255, 255, 1);
}

.register-btn {
  background: linear-gradient(to right, #4b6cb7, #182848);
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.register-btn:hover {
  transform: scale(1.05);
}

.register-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.error {
  color: rgb(255, 0, 0);
  margin-bottom: 10px;
  font-size: 14px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
