.create-complaint-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #34a853;
  color: white;
  padding: 12px 16px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  /* transition: all 0.3s ease-in-out; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
  z-index: 1000; /* Make sure it stays on top */
}

.create-complaint-btn:hover {
  background: #2e8b57;
  transform: scale(1.1); 
}

.dashboard-container{
  padding-top: 100px;
  margin: 20px;
}