<div class="dashboard-container">
  <h2 class="mb-10">Complaint Analytics 📊</h2>
  <div>
    <button class="create-complaint-btn" (click)="navigateToCreateComplaint()">
        ➕ Create Complaint
      </button>
  </div>    
  <div class="charts">
    <ngx-charts-bar-vertical
      [results]="chartData"
      [scheme]="colorScheme"
      [gradient]="true"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Complaint Status"
      yAxisLabel="Count">
    </ngx-charts-bar-vertical>
  </div>
</div>